/* standard settings */
body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background-color: #1b2838;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* container */
.container {
    position: relative;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

/* header */
.header {
    padding: 26px 0 26px 0;
    width: 100%;
    background: #171d25;
}

.header_inner {
    display: flex;
    align-items: center;
}

/* nav */
.nav {
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 30px;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    position: relative;

    color: #dcdedf;
    text-decoration: none;

    transition: color .1s linear;
}

.nav_link:hover {
    color: #1a9fff;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;


    background-color: #1a9fff;
    opacity: 0;

    position: absolute;
    top: 85%;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover::after {
    display: block;
    opacity: 1;
}

/* homePage */
.homePage {
    position: absolute;
    height: 450px;
    width: 100%;
    background-image: url('https://cdn.cloudflare.steamstatic.com/steam/clusters/frontpage/f4a87141a57da47f91bcefb9/page_bg_english.jpg?t=1708471348'), linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 50%);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.homePage_nav {
    display: flex;
    align-items: center;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.homePage_bnt {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-right: 25px;
    text-decoration: none;
    color: #fff;
}

.homePage_bnt-space {
    flex: 1;
    width: 20px;
}

.homePage_bnt:first-child {
    padding-left: 10px;
}

.homePage_search {
    background-image: none;
    background-color: #316282;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 0px;
    margin-right: 5px;
    outline: none;
    height: 27px;
    width: 202px;
    padding: 0px 6px;
}

.search img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 6px;
    right: 6px;
}

/* slider */
.slider {
    margin-top: 490px;
    position: relative;
}

.slider_title {
    color: #fff;
    margin-bottom: 10px;
    font-size: 14px;
}

.gameName {
    font-family: "Motiva Sans", Sans-serif;
    color: #fff;
    padding: 25px 0 0 20px;
    font-size: 24px;
}

.slider-wrapper {
    display: flex;
    height: 353px;
    box-shadow: 0 0 7px 0 #000;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.slide {
    display: flex;
    width: 100%;
}

.left-side {
    flex: 1;
}

.left-side img {
    width: 616px;
    height: 353px;
    background-size: cover;
    background-position: center;
}

.right-side {
    flex: 1;
    background-image: url('https://store.cloudflare.steamstatic.com/public/images/v6/home/background_maincap_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-container {
    width: 162px;
    height: 69px;
    margin-bottom: 6px;

}

.game-images {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.game-images img {
    width: 100%;
    height: 100%;
}

.small-image {
    width: 152px;
    height: 69px;
}

.big-image {
    padding-right: 8px;
}

.slider_price {
    color: #fff;
    padding: 38px 0 0 10px;
}

/* Стили для навигации по слайдам */
.slider-navigation {
    position: absolute;
    bottom: 10px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.slider-navigation button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    outline: none;
}

.dots {
    display: flex;
}

.dots button {
    background: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    margin: 0 5px;
    outline: none;
    padding: 0;
    width: 10px;
}

.dots button.active {
    background: #1a9fff;
}

.prev-slide {
    width: 40px;
    height: 100px;
    position: absolute;
    right: 475px;
    top: 5%;
    padding: 0;
    transform: translateY(-50%);
    border: none;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
}

.prev-slide::after {
    margin-top: 36px;
    margin-left: 15px;
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border-top: 6px solid #fff;
    border-left: 6px solid #fff;
    transform: rotate(-45deg);
}

.next-slide {
    position: absolute;
    left: 475px;
    top: 5%;
    padding: 0;
    width: 40px;
    height: 100px;
    transform: translateY(-50%);
    border: none;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 95%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 95%);
}

.next-slide::after {
    margin-top: 36px;
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    font-weight: bold;
    border-top: 6px solid #fff;
    border-left: 6px solid #fff;
    transform: rotate(135deg);
}

/* slider */
.slider-counter {
    text-align: center;
    min-height: 37px;
}

.slider-counter div {
    display: inline-block;
    margin: 12px 2px;
    width: 15px;
    height: 9px;
    border-radius: 2px;
    transition: background-color 0.2;
    background-color: hsla(202, 60%, 100%, 0.2);
    cursor: pointer;
}

.slider-counter div.focus {
    background-color: hsla(202, 60%, 100%, 0.4);
}

/* Special offers */
.specialOffers {
    margin-top: 50px;
    margin-bottom: 200px;
}

.specialOffers-title h1 {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    letter-spacing: 0.03em;
    font-weight: normal;
    padding-top: 2px;
}

/* .specialOffers-inner {
    position: relative;
    overflow: hidden;
} */

.specialOffers-slider {
    height: 390px;
}

.specialOffers-item {
    display: flex;
}

.specialOffers-item * div:last-child {
    margin-right: 0px;
}

.specialOffers-game1 {
    height: 390px;
    width: 306px;
    margin-right: 11px;
    box-shadow: 0 0 5px #000000;
    background: url(img/specialOffers\ bg.jpg) bottom center no-repeat;
}

.specialOffers-game2 {
    height: 390px;
    width: 306px;
    margin-right: 11px;
    box-shadow: 0 0 5px #000000;
    background: url(img/specialOffers\ bg.jpg) bottom center no-repeat;
}

.specialOffers-game3 {
    height: 186.51px;
    width: 306px;
    background: url(img/specialOffers\ bg.jpg) bottom center no-repeat;
    margin-bottom: 15px;
    box-shadow: 0 0 5px #000000;
    background-size: cover;
}

.specialOffers-game3 img {
    width: 306px;
    height: 138.01px;
}

.specialOffers-game4 {
    height: 186.51px;
    width: 306px;
    background: url(img/specialOffers\ bg.jpg) bottom center no-repeat;
    margin-bottom: 15px;
    box-shadow: 0 0 5px #000000;
    background-size: cover;
}

.specialOffers-game4 img {
    width: 306px;
    height: 138.01px;
}

.game1-content {
    margin: 0px;
    min-height: 23px;
    background-size: cover;
}

.game1-content {
    padding: 8px 16px 12px 16px;
    color: #9099a1;
    font-size: 12px;
    position: absolute;
    bottom: 38px;
    width: 306px;
    background: url(img/specialOffers\ bg.jpg) bottom center no-repeat;
}

.game2-content {
    margin: 0px;
    min-height: 23px;
    background-size: cover;
}

.game2-content {
    padding: 8px 16px 12px 16px;
    color: #9099a1;
    font-size: 12px;
    position: absolute;
    bottom: 38px;
    width: 306px;
    background: url(img/specialOffers\ bg.jpg) bottom center no-repeat;
}

.discount-block {
    position: relative;
    display: flex;
    text-align: right;
    padding-right: 5px;
    line-height: 17px;
    min-height: 17px;
    font-size: 12px;
    float: right;
}

.discount-pct {
    width: 76.72px;
    height: 34px;
    line-height: 34px;
    padding: 0 5px;
    font-size: 26px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-weight: 500;
    color: #BEEE11;
    background: #4c6b22;
    display: inline-block;
}

.discount-price {
    display: flex;
    line-height: 13px;
    padding: 0 8px 0 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 49.65px;
    height: 34px;
    background-color: rgba(20, 31, 44, 0.8);
    border-radius: 1px;
    padding: 0 5px;
}

.discount-original-price {
    position: relative;
    width: fit-content;
    color: #738895;
    font-size: 11px;
    line-height: 12px;
}

.discount-original-price::before {
    content: '';
    left: 0px;
    right: 0px;
    position: absolute;
    top: 43%;
    border-bottom: 1.5px solid #738895;
    transform: skewY(-8deg);
    box-shadow: 0 0 2px black;
}

.discount-final-price {
    color: #BEEE11;
    line-height: 16px;
    font-size: 15px;
}

.game1-content h2 {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    letter-spacing: 0.03em;
    font-weight: normal;
    padding-top: 2px;
}

.game2-content h2 {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    letter-spacing: 0.03em;
    font-weight: normal;
    padding-top: 2px;
}

.action {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    color: #acdbf5;
}

.price {
    line-height: 34px;
    padding: 0 5px;
    font-size: 26px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-weight: 500;
    color: #BEEE11;
    background: #4c6b22;
    display: inline-block;
}

/* SPECIAL OFFERS Navigation */
/* Стили для навигации по слайдам в секции specialOffers */
.slider-navigation1 {
    position: absolute;
    bottom: 10px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.prev-slide1 {
    width: 40px;
    height: 100px;
    position: absolute;
    right: 475px;
    top: 15%;
    padding: 0;
    transform: translateY(-50%);
    border: none;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
}

.prev-slide1::after {
    margin-left: 15px;
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border-top: 6px solid #fff;
    border-left: 6px solid #fff;
    transform: rotate(-45deg);
}

.next-slide1 {
    position: absolute;
    left: 475px;
    top: 15%;
    padding: 0;
    width: 40px;
    height: 100px;
    transform: translateY(-50%);
    border: none;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 95%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 95%);
}

.next-slide1::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    font-weight: bold;
    border-top: 6px solid #fff;
    border-left: 6px solid #fff;
    transform: rotate(135deg);
}

.slider-counter1 {
    text-align: center;
    min-height: 37px;
}

.slider-counter1 div {
    display: inline-block;
    margin: 12px 2px;
    width: 15px;
    height: 9px;
    border-radius: 2px;
    transition: background-color 0.2;
    background-color: hsla(202, 60%, 100%, 0.2);
    cursor: pointer;
}

.slider-counter1 div.focus {
    background-color: hsla(202, 60%, 100%, 0.4);
}

.col1 {
    margin-right: 11px;
}

.col2 {
    margin-right: 11px;
}

/* basketIcon */
.basketIcon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;
    width: 650px;
    background-color: #1b2838;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.basketIcon_bg {
    background: rgba(0, 0, 0, .8);
    z-index: 7;
}

.basketIcon_inner.active {
    z-index: 10;
}

.basketIcon_content {
    align-content: center;
    height: 100%;
    flex-direction: column;
}

.basketIcon .basketIcon_body {
    height: initial;
    width: initial;
    max-width: 88vw;
    max-height: 90vh;
}

.basketIcon_body {
    box-shadow: 0px 8px 38px 5px rgba(0, 0, 0, .75);
    margin: 0 auto;
    width: 70%;
    font-weight: 300;
    color: #969696;
    font-size: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%), #25282e;
    user-select: none;
}

.basketIcon_body>* {
    min-height: 0;
    min-width: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.basketIcon_TopBar {
    min-height: 1px;
    min-width: initial;
    flex-grow: initial;
    flex-shrink: initial;
    background: linear-gradient(to right, #00ccff, #3366ff);
}

.basketIcon_Dismiss {
    min-width: initial;
    min-height: initial;
    flex-grow: initial;
    flex-shrink: initial;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 1;
}

.close_btn {
    width: 14px;
    height: 14px;
    background-size: cover;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
}

.SVGIcon_Button {
    fill: #fff;
    overflow: visible;
    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 320px;
}

.SVGIcon_X_Line line {
    stroke: #788a92;
    stroke-width: 24px;
}

.basketIcon_dialog {
    padding: 24px;
    display: flex;
    overflow: visible;
    position: relative;
}

.DialogContent_InnerWidth {
    max-width: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.DialogContent_title {
    font-weight: 800;
    font-size: 22px;
    color: #fff;
    margin-bottom: 25px;
}

.DialogContent_body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.DialogContent_btn {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.panel_inner {
    position: relative;
    padding: 15px;
    background-color: rgba(0, 0, 0, .25);
}

.panel_body {
    display: flex;
    gap: 15px;
}

.panel_left {
    background-color: rgba(0, 0, 0, .2) 5;
    width: 200px;
    flex-shrink: 0;
    height: 94px;
}

.panel_right {
    flex-grow: 1;
}

.panel_name {
    margin-top: 0px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    flex-wrap: wrap;
    font-size: 13px;
}

.panel_iconAndPrice {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 8px;
    flex-wrap: wrap;
    font-size: 13px;
}

.panel_next {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 8px;
    flex-wrap: wrap;
    font-size: 13px;
}

.DialogButton {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 0;
    font: inherit;
    overflow: visible;
    padding: 0;
    margin: 2px 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
    line-height: 32px;
    color: #dfe3e6;
    font-size: 14px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    transition-property: opacity, background, color, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    background: #3d4450;
    background-position: 99% 1%;
    background-size: 300% 300%;
    position: relative;
}

.DialogButton::before {
    pointer-events: none;
    user-select: none;
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.DialogButton.Primary {
    background: transparent;
    background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
    background-position: 25%;
    background-size: 330% 100%;
}

.game_title {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 500;
}

.panel_icons {
    display: flex;
}

.panel_icon {
    height: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.panel_icon svg {
    fill: #7c8289;
    color: #7c8289;
}

.panel_icons img.SVGIcon_WindowsLogo,
.panel_icons svg.SVGIcon_WindowsLogo {
    width: 15px;
    height: 15px;
}

.panel_icons img,
.panel_icons svg {
    height: 20px;
    width: 20px;
    fill: #7c8289;
    color: #7c8289;
    margin-right: 4px;
}

.SVGIcon_Button {
    fill: #fff;
    overflow: visible;
    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 320px;
}

.panel_price {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.panel_price-span {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panel_price-left {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    padding: 2px 15px;
    background-color: #4c6b22;
    color: #a4d007;
    display: flex;
    align-items: center;
    margin-right: 3px;
}

._1f3PID2BXOm-jAr3LGxkW3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

._3h9iQSuChRQXyzpsu2ip8m {
    text-decoration: line-through;
    color: #626366;
    font-size: 11px;
    line-height: 11px;
    margin-top: 2px;
}

._2WBvzE2CywKDLD0QTnbmUE {
    font-size: 14px;
    padding: 5px;
    align-items: center;
    display: flex;
    padding: 0px;
    line-height: 16px;
}